<<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
      <!--
        This div containes the text field that
        - collects the value inputted in the field
      -->
      <div class="field">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($any($event.target).value)" />
      </div>
      <!--
        This div contains the use letter checkbox
        - it calls the function that turns 'includeLetters' to
        - true if the box is checked
      -->
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>
      <!--
        This div contains the use numbers checkbox
        - it calls the function that turns 'includeNumber' to
        - true if the box is checked
      -->
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>
      <!--
        This div contains the use symbols checkbox
        - it calls the function that turns 'includeSymbols' to
        - true if the box is checked
      -->
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>
      <!-- this code enables the button if:
            - the length is greater than 0 and
            - use letters/use mumbers/use symbols is selected
      -->
      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>
      <!-- *ngif="password" - hide the div containing generated password
            - when the user click 'generate' button the div will show
      -->
      <div class="box" *ngIf='password && (includeLetters || includeNumbers || includeSymbols)' >
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>